@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css";

h2 {
    color: #00f
}

.collapsible .content {
    overflow: hidden;
}

.collapsible.collapsed .content {
    height: 1.2em;
}

.commentsBox {
    width: 320px;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
}

.titleBox {
    background-color:#fdfdfd;
    padding:10px;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}

.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
    font-weight: bold;
}

.comments {
    padding: 10px;
    word-break:break-all;
}